$header-font: slabo 27px;
$primary-Fontcolor: #191919;
$text-font: source sans pro;


container-fluid{
    col-md-12{

      header {
        font: $header-font;
        color: $primary-Fontcolor;
      }
      .text{
        font: $text-font;
  color: $primary-Fontcolor;
  }
}
