.background {
  background-color: rgba(0, 0, 0, 0.72); }
  .background .container-fluid .col-md-12 .header {
    font-family: "Lora", serif;
    color: #7fff00; }
  .background .container-fluid .col-md-12 .text {
    font-family: "Source Sans Pro", sans-serif;
    color: #7fff00; }
